:root{
    --columnNumber: auto;
}
main{
    display: flex;
    justify-content:space-between ;
}
aside{
    min-width: 10%;
    max-width: 15%;
    background: lightgray;
}
.grid{
    display: grid;
    gap:2px;
    width: 500px;
    grid-template-columns:var(--columnNumber);
    margin: auto;
}
.cell{
    width:100%;
    aspect-ratio: 1/1;
    background-color: grey;
}
.dropdown{
    background:lightslategray;
}
.dropdownElements{
    display: none;
}
.inputBox{
    max-width:90%;
    height:20px;
}
.red{
    background:red;
}
#hintFlagDiv{
    display: flex;
    justify-content: space-between;
}
#flagDisplay{
    width:50px;
    height:15px;
    background: green;
}
.dropdown:hover .dropdownElements{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flagStyle{
    background-color: crimson;
    background-image: url(https://www.clipartmax.com/png/small/200-2005302_flag-marshal-waving-red-flag-gif.png);
    background-size: cover;
}
.mineStyle{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZHVJWDb4H4xjIkaEVOsAd8pcroYMlrEjEkg&s);
    background-size:cover;
}
.revealed {
    background:white;
}
.one {
    background-color:blue;
}
.two {
    background-color:green;
}
.three {
    background-color:yellow;
}
.four {
    background-color:orange;
}
.five {
    background-color:red;
}
.six {
    background-color:crimson;
}
.seven {
    background-color:violet;
}
.eight {
    background-color:purple;
}