:root{
    --columnNumber: auto;
    --colour1:255,0,0;
    --colour2:0,255,0;
    --colour3:0,0,255;
}
main{
    display: flex;
    justify-content:space-between ;
    height: 100%;
}
body{
    background:radial-gradient(rgb(var(--colour1)),rgb(var(--colour2)),rgb(var(--colour3)));
    background-size: cover;
    background-repeat: none;
    height: 100vh;
}
aside{
    width: 15%;
    height:min-content;
    background: rgba(100,100,100,0.5);
}
.grid{
    display: grid;
    gap:2px;
    height: 90%;
    grid-template-columns:var(--columnNumber);
    margin: auto;
}
.cell{
    aspect-ratio: 1/1;
    background-color: rgba(100,100,100,0.4);
}
.dropdown{
    display:flex;
    background:rgba(100,100,100,0.5);
    align-items: center;
    flex-direction: column;
}
.dropdownElements{
    display: none;
    padding:8px;
}
.inputBox{
    max-width:90%;
    height:20px;
}
.red{
    background:red;
}
#hintFlagDiv{
    display: flex;
    justify-content: space-between;
}
#flagDisplay{
    margin:auto;
    padding:5px 8px;
    width:auto;
    height:auto;
    background: crimson;
    font-weight: bolder;
}
button {
    margin:4px auto;
    background-color:rgb(255, 221, 147);
    padding: 5px;
    font-weight: bolder;
}
.dropdown:hover .dropdownElements{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flagStyle{
    background-image: url(../images/Flag.gif);
    background-size: cover;
}
.mineStyle{
    background-image:url(https://i.gifer.com/origin/62/623cdcca882db2d7efa8d32424a61d29_w200.gif);
    background-size:cover;
}
.revealed {
    background:none;
}
.one {
    background:url(../images/bg_image_1.png);
}
.two {
    background:url(../images/bg_image_2.png);
}
.three {
    background:url(../images/bg_image_3.png);
}
.four {
    background:url(../images/bg_image_4.png);
}
.five { 
    background:url(../images/bg_image_5.png);
    }
.six {
    background:url(../images/bg_image_6.png);
}
.seven {
    background:url(../images/bg_image_7.png);
}
.eight {
    background:black;
}
.revealed {
    background-size: cover;
    background-repeat: no-repeat;
}