main{
    display: flex;
    justify-content:space-between ;
}
.grid{
    display: grid;
    gap:2px;
    width: 500px;
    grid-template-columns: auto  auto  auto ;
}
.cell{
    width:100%;
    aspect-ratio: 1/1;
    background-color: grey;
}
#hintFlagDiv{
    display: flex;
    justify-content: space-between;
}
#flagDisplay{
    width:50px;
    height:15px;
    background: green;
}